@model CollectionViewModel
@{  
    var allProducts = await productService.GetByTagAsync(@Model.Tag);
    var products = allProducts.Take(@Model.Amount);
}

<section class="best-collection">
    <div class="container">
        <div class="section-title">
            @Model?.Title
        </div>
        <div class="categories">
            @Model?.Categories   
        </div>
        <div class="collection-grid">
            @foreach(var product in products)
            {
                <partial name="/Views/Partials/_ProductCard.cshtml" model="product" />
            }
        </div>
    </div>
</section>