<header>
    <div class="container">
        <img class="logo" src="~/images/Logo.svg" alt="Logo" />

        <div class="nav-menu">
            <nav id="menu" class="menu-links">
                <a class="link" asp-controller="home" asp-action="index">HOME</a>
                <a class="link" asp-controller="products" asp-action="index">PRODUCTS</a>
                <a class="link" asp-controller="contacts" asp-action="index">CONTACT</a>
            </nav>
            <nav class="menu-icons">
                <a class="link" asp-controller="products" asp-action="search"><i class="fa-regular fa-search"></i></a>
                
                @if (signInManager.IsSignedIn(User))
                {
                    <a class="link" asp-controller="cart" asp-action="index"><i class="fa-regular fa-cart-shopping"></i></a>
                    <a class="link" asp-controller="account" asp-action="myaccount">@User.Claims.FirstOrDefault(x => x.Type == "DisplayName")?.Value</a>
                    <a class="link" asp-controller="account" asp-action="logout">Logout</a>
                }
                else
                {
                    <a class="link" asp-controller="account" asp-action="login">Login</a>
                    <a class="link" asp-controller="cart" asp-action="index"><i class="fa-regular fa-cart-shopping"></i></a>
                }
                
                

                
            </nav>
        </div>
        <div class="toggle">
            <button class="btn-toggle btn-outline-white" data-option="toggle" data-target="#menu">
                <i id="icon" class="fa-regular fa-bars"></i>
            </button>
        </div>
    </div>
</header>