<div class="product-card-large">
    <a class="card-link" href="#">
        <div class="card-image">
            <img src="/images/370x295.svg" alt="" />
        </div>
        <div class="title">
            Table lamp 1562 LTG modal
        </div>
        <div class="body">
            Best dress for everyone ed totam velit risus viverra nobis donec recusandae perspiciatis incididuno
        </div>
        <div class="tag">
            Post by: Admin     Comments 13
        </div>
    </a>
</div>