<div class="sale-card">
    <a class="card-link" href="#">
        <div class="card-image">
            <img src="/images/369x310.svg" alt="" />
        </div>
        <div class="title">
            Product name
        </div>
        <div class="box-bottom">
            <div class="d-flex gap-3">
                <div class="old-price">
                    $100.00
                </div>
                <div class="price">
                    $50.00
                </div>
            </div>
            <div class="add-to-cart">
                <i class="fa-regular fa-cart-plus"></i>
            </div>
        </div>
    </a>
</div>