<div class="off-50">
    <div class="tag">
        UP TO SELL
    </div>
    <div class="title">
        50% OFF
    </div>
    <div class="subtitle">
        Get The Best Price
    </div>

    <div class="body">
        Get the best daily offer et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren no sea taki
    </div>
    <a href="#" class="more">
        Discover more
    </a>
</div>