<section class="sale-banner">
    <div class="container">
        <partial name="/Views/Partials/_SaleCardImage.cshtml" />
        <partial name="/Views/Partials/_SaleCardText.cshtml" />
        <partial name="/Views/Partials/_SaleCardImage.cshtml" />

    </div>
</section>