@{
    int amountGrid = 6;
    var allProductsPopular = await productService.GetByTagAsync("popular");
    var productsPopular = allProductsPopular.Take(amountGrid);

    int amountCards = 3;
    var allProductsSale = await productService.GetByTagAsync("season-sale");
    var productsSale = allProductsSale.Take(amountCards);
}

<section class="top-selling">
    <div class="container-fluid">
        <div class="section-title">
            Top selling products this week
        </div>
        <div class="card-grid">
            @foreach (var product in productsPopular)
            {
                    <partial name="/Views/Partials/_ProductCard.cshtml" model="product" />

            }
        </div>
        <div class="slider-arrows">
            <div class="arrow">
                <
            </div>
            <div class="arrow">
                >
            </div>
        </div>
        <div class="large-card-grid">
            <div class="container">
                @foreach (var product in productsSale)
                {
                    <partial name="/Views/Partials/_ProductCardLarge.cshtml" model="product" />
                }
            </div>
        </div>
    </div>
</section>