
@{
    ViewData["Title"] = "Access denied";
}

<div class="below-header d-flex justify-content-center mt-4">
    <div class="container text-center mt-4">
        <h1>@ViewData["Title"]</h1>
        <p>You don't have the right permission to access this page.</p>
    </div>
</div>
