@model ProductAddViewModel

<section class="product-add-form">
    <div class="container">
        <div class="title">Add new product</div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form method="post" novalidate>
            <div class="name form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name">
                <span class="error" asp-validation-for="Name"></span>
            </div>
            <div class="description form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="3"></textarea>
                <span class="error" asp-validation-for="Description"></span>
            </div>
            <div class="category form-group">
                <label asp-for="Category"></label>
                <input asp-for="Category">
                <span class="error" asp-validation-for="Category"></span>
            </div>
            <div class="price form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price">
                <span class="error" asp-validation-for="Price"></span>
            </div>
            <div class="imageUrl form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl">
                <span class="error" asp-validation-for="ImageUrl"></span>
            </div>
            <div class=" tags form-group">
                Tags
                @foreach(SelectListItem tag in ViewBag.Tags)
                {
                    <div>
                        <input type="checkbox" name="Tags" id="tag-@tag.Text-@tag.Value" class="form-check-input" value="@tag.Value" checked="@tag.Selected" />
                        <label for="tag-@tag.Text-@tag.Value" class="form-check-label">@tag.Text</label>
                    </div>
                }
            </div>
            <button type="submit" class="btn-theme">Add product</button>
        </form>
    </div>
</section>