<section class="newsletter">
    <div class="container-fluid">
        <div class="bg">
        </div>
        <div class="container newsletter-reg">
            <form>
                <input type="email" placeholder="Enter your email here..." name="email">
                <button type="submit" class="btn-theme btn-rounded">SUBSCRIBE TO NEWSLETTER</button>
            </form>
        </div>
    </div>
</section>