@{
    ViewData["Title"] = "Thank you for you message";
}

<partial name="/Views/Partials/_Breadcrumb.cshtml" />
<section class="contact-form">
    <div class="container">
        <div class="title text-center">Thank you for your message! </div>
    </div>
</section>
<partial name="/Views/Partials/_Map.cshtml" />
