.login-form {
    padding: 120px 0 60px 0;


    @include lg {
        padding: 150px 0;
    }

    .container {
        border: none;
        padding: 30px;

        @include md {
            box-shadow: 5px 5px 18px $color-grey-warm;
        }
    }

    .title {
        margin-bottom: 40px;
    }

    form {
        display: grid;
        column-gap: 30px;
        row-gap: 30px;
        grid-template-columns: 1fr;
        grid-template-areas: "email" "password" "remember-me" "button";

        @include lg {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "email email" "password password" "remember-me remember-me" "button button";
        }

        .email {
            grid-area: email;
        }

        .password {
            grid-area: password;
        }

        .remember-me {
            grid-area: remember-me;
        }


        button {
            grid-area: button;

            @include lg {
                display: flex;
                justify-self: flex-start;
            }
        }
    }
}
