$color-theme-red: #FA3150;
$color-theme-light: #FAEFEF;
$color-theme-lightest: #F3F2F2;

$color-black: #000000;
$color-dark: #292929;
$color-dark-grey: #636363;
$color-grey: #AEAEAE;
$color-grey-warm: #A5A5A5;
$color-grey-light: #E1E1E1; 
$color-grey-lightest: #F8F8F8;


$color-white: #FFFFFF;

$color-yellow: #FFB71B;
$color-green: #92B8B9;