.top-selling {

    .container-fluid {
        padding: 2rem 0;
    }

    .section-title {
        font-family: $font-poppins;
        font-weight: $font-weight-semibold;
        font-size: 30px;
        text-align: center;
    }

    .card-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 8px;

        @include md {
            grid-template-columns: 1fr 1fr 1fr;
        }


        @include xxl {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }

    }

    .slider-arrows {
        display: flex;
        justify-content: center;
        gap: 1rem;

        .arrow {
            border: 1px solid $color-black;
            border-radius: 3px;        
            text-align: center;
            padding: 0.2rem 1rem;
            font-size: 30px;
        }
    }

    .large-card-grid {


        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            @include xl {
                flex-direction: row;
                justify-content: space-between;
                padding: 2rem;
            }
            
        }
    }

}